body{
    background-image: url("../img/cull.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

}
   .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 450px;
      background-color:#12182e; 
      
    }
  
  .h5{
      text-align: center;
  }
  
  .team{
      color: white;
      text-align: center;
  }
  