*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rokkitt', serif;
}

#sidebar{
    
    position: absolute;
    width: 300px;
    margin-top: 430px;
    height: 57em;     
    /* background-image: linear-gradient(black); */   	
    background-color:  rgba(0, 0, 0, 0.8);  
    right: -300px;    
    transition: 0.800s ease;
}

#sidebar.active{
    right: 0;
}


#sidebar ul li{
    list-style: none; 
    color: #fff;
    font-size: 20px;
    /* padding: 20px 24px; */
} 

#sidebar .toggle-btn{    
    position: absolute;
    top: 18px;
    right: 330px;
}

.toggle-btn span{
    width: 30px;
    height: 4px;
    background: white;
    display: block;
    margin-top: 4px;
}

.navbar > .side-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.nav-item{
    text-align: 
    display: flex;
}

.nav-item > .nav-link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1em;
    flex: 1;
}

.nav-item > .nav-link:hover{ 
    background-color: white;
    color: black;
}
.nav-item > .site-name{
    text-decoration: none;
    padding: 1.3em;
    font-size: 1em;
    color: whitesmoke;
}

.nav-item:last-child > .nav-link i{
    padding: .5em;
}

.nav-item:hover:last-child > .nav-link{
    background-color: black;
    color: white;
}

.footer{
    /* color: #b6b5b5; */   
    color:whitesmoke;
    text-align: center;
    margin-top: 5px;
}